%h3
  Last Close Cash on :
  =@closed_cash.created_at.in_time_zone
%table
  %tr
    %td
      Total Sale
    %td
      = (@total_cash || 0)   +  (@total_card || 0 )  + ( @total_debt || 0 ) + (@total_free || 0)
  %tr
    %td
      Total Cash
    %td
      =@total_cash
  %tr
    %td
      Total Card
    %td
      =@total_card
  %tr
    %td
      Total Debt
    %td
      =@total_debt
  %tr
    %td
      Total Free
    %td
      =@total_free

=form_for @closed_cash, :url => create_close_cash_path(:id => @closed_cash.id) do |f|
  - if @closed
    =f.submit "Close Cash Now"
  -  else
    =f.submit "Please close open tickets to close cash", :disabled => :disabled
