/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 150%;
  font-size: 72%;
  background: #fff;
  margin: 0;
  padding: 0;
  color: #888;
}
.ui-selected {
    background: #ccc;
}
#tablebox{
width:800px;
height:500px;
background-color:#f3f3f3;

}
.rtable{
width:100px;
height:40px;
position:relative;
}
#billbutton{
  width:8%;
  padding:40px 2px;
  height:100%;
  float:right;
}
#ticketbox{
  width:44%;
  height:100%;
  border:1px solid #ccc;
  float:right;
}
#productbox{
  border:1px solid #ccc;
  width:44%;
  float:left;
  min-height:400px;
  padding:2px;
  margin:2px;
}
.product{
width:100px;
height:40px;
}
.billbox{
width:100%;
overflow:auto;
height:300px;
}
.billbox table{
background:white;
width:100%;
}
.billbox table tr{
  cursor: pointer;
}
.billbox table tr td:first-child{
white-space: nowrap;
max-width: 180px;
overflow: hidden;
text-overflow: ellipsis;
}
.billbox table tr td:nth-child(4){
background-color:#f4f4f4;
}

.billbox table tr td:nth-child(3) a{

}
.billbox table th,#ticket table th{
  background-color:#ccc;
  border-bottom:1px dotted #444;
  font-weight:bold;
  color:#333;
}
#total{
width:40%;
}
.billbox table td{border-bottom: 1px dotted #777;}

.clear{
clear:both;
}
#buttonbox{
width:100%;
clear:both;
}
#buttonbox ul{
list-style:none;
float:right;
}
#buttonbox ul li{
float:left;
margin-left:10px;
}
#customerbox{
float:left;
width:30%;

}
.product {
  max-width:70px;
  text-overflow: ellipsis;
  height:50px;
  float:left;
  overflow:hidden;
  padding-bottom:3px;
}
.occupied{
 background:transparent url(/assets/Profile.png) no-repeat !important;
}
